/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}
