<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name="author" content="[Sagyam Thapa]">
    <link rel="stylesheet" href="style.css">
    <link
    rel="shortcut icon"
    href="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"
    type="image/x-icon"
  />
    <title>Document</title>
</head>
<body>
    
</body>
</html>