@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	position: relative;
	max-width: 80px;
}

header ul {
	position: relative;
	display: flex;
}

header ul li {
	list-style: none;
}

header ul li a {
	display: inline-block;
	color: #333;
	font-weight: 400;
	margin-left: 40px;
	text-decoration: none;
}

.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .text-box {
	position: relative;
	max-width: 800px;
	margin-top: -100px;
}

.content .text-box h2 {
	color: #333;
	font-size: 4rem;
	line-height: 5rem;
	font-weight: 500;
}

.content .text-box h2 span {
	color: #017143;
	font-weight: 900;
}

.content .text-box p {
	color: #333;
	max-width: 600px;
	padding: 1rem 0;
}

.content .text-box a {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background-color: #017143;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}

.content .img-box {
	width: 600px;
	display: flex;
	justify-content: flex-start;
	padding-right: 50px;
	margin-top: 50px;
}

.content .img-box img {
	transform: scale(1);
}

.thumb {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%);
	display: flex;
}

.thumb li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}

.thumb li:hover {
	transform: translateY(-25px);
}

.thumb li img {
	max-width: 60px;
}

.social {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	align-items: center;
}

.social li {
	list-style: none;
}

.social li a {
	display: inline-block;
	margin: 5px 0;
}

.social li a img {
	width: 35xp;
	height: 35px;
	filter: invert(1);
}

.circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #017143;
	clip-path: circle(800px at right 900px);
}

/**Change Slected Text Color*/
::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: #017143;
}

::selection {
	color: white;
	background: #017143;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #017143;
}
