@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
}

.main {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.left-col {
	flex-basis: 50%;
	background-color: #fff;
	position: relative;
}

.right-col {
	flex-basis: 50%;
	background-color: #ff7878;
	position: relative;
}

.logo img {
	height: 70px;
	margin-left: 80px;
	margin-top: 30px;
}

.logo h2 {
	margin-left: 80px;
	margin-top: 20px;
}

.content-box {
	width: 290px;
	position: absolute;
	top: 170px;
	left: 80px;
}

.content-box h1 {
	font-size: 58px;
	margin: 15px 0 30px;
}

.content-box p {
	font-size: 1rem;
	color: #949494;
	line-height: 1.5rem;
	margin-bottom: 80px;
}

.content-box button {
	background: #ff7878;
	color: #fff;
	display: flex;
	align-items: center;
	border: 0;
	outline: none;
	border-radius: 50px;
	padding: 13px 25px;
	cursor: pointer;
	font-size: 1rem;
}

.content-box button img {
	width: 25px;
	margin-left: 20px;
}

.arrow-box {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #777;
}

.arrow-box img {
	width: 20px;
	height: 20px;
	margin: 15px;
}

#left-arrow {
	background-color: #ff7878;
	right: 20px;
}

#right-arrow {
	background-color: #fff;
	left: 20px;
}

.navbar {
	width: 80%;
	margin: 40px auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.search-box {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.3);
	padding: 7px 15px;
	border-radius: 20px;
}

.search-box input {
	background: transparent;
	border: 0;
	outline: none;
	color: #fff;
}

::placeholder {
	color: #fff;
	font-style: 12px;
}

.search-box img {
	width: 13px;
	margin-left: 20px;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	list-style: none;
	margin-left: 50px;
}

.navbar ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	display: flex;
	align-items: center;
}

.navbar ul li img {
	width: 1rem;
	margin-right: 15px;
}

.card-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 25%;
	width: 290px;
	margin-top: 50px;
}

.product-card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #777;
	margin-bottom: 75px;
	cursor: pointer;
}

.product-card img {
	width: 180px;
	align-self: center;
	margin-top: -50px;
	transition: 0.5s ease-in-out;
}

.product-card img:hover {
	transform: scale(1.25);
}
.product-card h1 {
	font-size: 1rem;
	margin: 10px;
	text-align: center;
}

.rating-box {
	margin: 10px;
	align-self: center;
}

.checked {
	color: #ff7878;
}

.right-arrow {
	width: 65px;
	position: absolute;
	bottom: 0;
	left: 20px;
}

.main-img {
	width: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
}

/**Change Slected Text Color*/
::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: #ff7878;
}

::selection {
	color: white;
	background: #ff7878;
}
